* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* color: rgb(0, 0, 0); */
    font-size: 24px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui;
    background:white;
    background-size: cover;

}
.header{
    position: relative;
    width:100%;
    height:400px;
    /* background: url('./img/header2.jpeg') center/cover no-repeat; */
    margin-bottom: 20px;
    box-shadow: 0 1px 7px 0.3px rgba(0, 0, 0, 0.3) ;
}

.back-img {
    width:100%;
    height:400px;
}

.back-img img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.title{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 10%;
    color: white;
}

.title h1{
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
}

.main-text{
    align-self: center;
    font-size: 1.4rem;
}
.sub-section {
    width: 30%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid aquamarine;
    border-radius: 0.3rem;
    padding: 1rem;
    background:linear-gradient(rgba(70, 233, 255, 0.301),rgba(195, 246, 255, 0.308));
}

.row-sumbit {
    padding: 8px 10px;
    background-color: rgb(0, 136, 91);
    border-radius: 8px;
    border: 3px solid aquamarine ;
    align-self: center;
    justify-self: flex-end;
    width: 6.25rem;
}
.row-sumbit:hover {
    background-color: aquamarine;
    color:  rgb(0, 136, 91);
}
.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#country {
    color: rgb(0, 0, 0);
    width: 6.25rem;
    font-size: 0.8rem;
}

#year {
    width: 6.25rem;
    color: rgb(0, 0, 0)
}

.col {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.show-data {
    background:linear-gradient(rgba(70, 233, 255, 0.301),rgba(195, 246, 255, 0.308));
    width: 40%;
    height: 60vh;
    overflow-y: auto;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid aquamarine;
}

.sub-row {
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    padding: 5px 0;
}
.sub-row:hover {
    transform: translate(5px);
    cursor: pointer;
}
.name {
    width: 65%;
    font-size: 0.5rem;
}
.date {
    width: 25%;
    font-size: 0.5rem;

}

.name:hover,
.date:hover {
    color: rgb(0, 136, 91);;
}

.error {
    font-size: 0.8rem;
    width: 85%;
    color: rgb(255, 51, 0);
    border: 5px solid rgb(255, 51, 0);
    padding: 10px;
    border-radius: 10px;
    background-color:black;
}


h1 {
 font-size: 2rem;
 width: 50%;
 padding-top: 10px; 
 line-height: 1.6;

}

.details{
    width: 80%;
    margin: 5px 30px 15px 50px;
    border-left: 10px solid rgba(0, 0, 0, 0.8)
}
