* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: aquamarine;
    font-size: 24px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui;
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(./img/german_holidays_and_celebrations.jpg) no-repeat center fixed;
    background-size: cover;

}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 80%;
    height: 100vh;
}

.main-text{
    align-self: center;
    font-size: 1.4rem;
}
.sub-section {
    width: 40%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    border: 5px solid aquamarine;
    border-radius: 0.3rem;
    padding: 1rem;
    background:linear-gradient(rgba(70, 233, 255, 0.301),rgba(195, 246, 255, 0.308));
}

.row-sumbit {
    padding: 8px 10px;
    background-color: rgb(0, 136, 91);
    border-radius: 8px;
    border: 3px solid aquamarine ;
    align-self: flex-end;
    width: 6.25rem;
}
.row-sumbit:hover {
    background-color: aquamarine;
    color:  rgb(0, 136, 91);
}
.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#country {
    color: rgb(0, 136, 91);
    width: 6.25rem;
}

#year {
    width: 6.25rem;
}

.col {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.show-data {
    background-color: rgb(0, 136, 91);
    width: 40%;
    height: 60vh;
    overflow: hidden;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
}